[flake8]
doctests = True
enable-extensions = G
max-try-body-length = 6
max-local-variables = 10
max-line-length = 89
# Black-compatible flake8 configuration
extend-ignore = E203,RST299,RST399,RST499,RST219

# Flake plugins:
inline-quotes = double
no-accept-encodings = True

# Disable some checks
ignore =
    # Missing trailing comma
    C812
    # Missing trailing comma in Python 3.5+
    C815
    # Missing trailing comma in Python 3.6+
    C816
    # Trailing comma prohibited
    C819
    # '...' is too complex
    C901
    # Missing docstring in public module
    D100
    # Missing docstring in public class
    D101
    # Missing docstring in public method
    D102
    # Missing docstring in public function
    D103
    # Missing docstring in public package
    D104
    # Missing docstring in magic method
    D105
    # Missing docstring in public nested class
    D106
    # Missing docstring in __init__
    D107
    # No blank lines allowed after function docstring
    D202
    # 1 blank line required between summary line and description
    D205
    # First line should end with a period
    D400
    # First line should be in imperative mood; try rephrasing
    D401
    # First word of the first line should be properly capitalized
    D403

    # Missing parameter(s) in Docstring
    DAR101
    # Missing "Returns" in Docstring
    DAR201
    # Missing "Yields" in Docstring
    DAR301
    # Missing exception(s) in Raises section
    DAR401
    # Excess exception(s) in Raises section
    DAR402

    # Block quote ends without a blank line; unexpected unindent.
    RST201
    # Definition list ends without a blank line; unexpected unindent.
    RST203
    # Field list ends without a blank line; unexpected unindent.
    RST206
    # Unexpected indentation.
    RST301

    # Use of assert detected
    S101
    # line break before binary operator
    W503

    # Found wrong module name
    WPS100
    # Found wrong variable name
    WPS110
    # Found underscored number name pattern
    WPS114
    # Found upper-case constant in a class
    WPS115

    # Found module with too many imports
    WPS201
    # Found too many module members
    WPS202
    # Found module with too many imported names
    WPS203
    # Found overused expression
    WPS204
    # Found too many local variables
    WPS210
    # Found too many arguments
    WPS211
    # Found too many return statements
    WPS212
    # Found too many expressions
    WPS213
    # Found too many methods
    WPS214
    # Too many base classes
    WPS215
    # Too many decorators
    WPS216
    # Found too deep access level
    WPS219
    # Found too deep nesting
    WPS220
    # Found line with high Jones Complexity
    WPS221
    # Found a condition with too much logic
    WPS222

    # Found string constant over-use
    WPS226
    # Found too many public instance attributes
    WPS230
    # Found function with too much cognitive complexity
    WPS231
    # Found module cognitive complexity that is too high
    WPS232
    # Found overly complex annotation
    WPS234
    # Found too many imported names from a module: 11 > 8
    WPS235
    # Found a too complex `f` string
    WPS237
    # Found too many raises in a function: 8 > 3
    WPS238

    # Found local folder import
    WPS300
    # Found dotted raw import: oxygen.logs
    WPS301
    # Found `f` string
    WPS305
    # Found class without a base class: SuperUserOptions
    WPS306
    # Found incorrect multi-line parameters
    WPS317
    # Found `%` string formatting
    WPS323
    # Found implicit string concatenation
    WPS326
    # Found variables that are only used for `return`
    WPS331
    # Found walrus operator
    WPS332

    # Found multiline conditions
    WPS337
    # Found incorrect order of methods in a class
    WPS338

    # Found vague import that may cause confusion: Q
    WPS347
    # Found a line that starts with a dot
    WPS348
    # Found multiline loop
    WPS352
    # Found a float zero (0.0)
    WPS358
    # Found an unnecessary use of a raw string
    WPS360
    # Found an inconsistently structured comprehension
    WPS361
    # Found `noqa` comments overuse
    WPS402
    # Found `noqa` comments overuse
    WPS403
    # Found mutable module constant
    WPS407
    # Found wrong metadata variable: __all__
    WPS410
    # Found `__init__.py` module with logic
    WPS412
    # Found wrong keyword: pass
    WPS420
    # Found wrong function call: hasattr
    WPS421
    # Found multiple assign targets
    WPS429
    # Found nested function
    WPS430
    # Found nested class
    WPS431
    # Found magic number
    WPS432
    # Found nested import
    WPS433
    # Found protected attribute usage
    WPS437
    # Found block variables overlap
    WPS440
    # Found comparison with float or complex number
    WPS459
    # Wrong multiline string usage
    WPS462
    # Found a getter without a return value
    WPS463
    # Found likely bitwise and boolean operation mixup
    WPS465
    # Found implicit `.get()` dict usage
    WPS529
    # Found using `@staticmethod`
    WPS602
    # Found shadowed class attribute
    WPS601
    # Found incorrect node inside `class` body
    WPS604
    # Found unpythonic getter or setter
    WPS615
    # Other wemake-python-stylegude errors
    WPS441, WPS510

    # Other
    X100,
    Q000, # Remove bad quotes

exclude =
    .venv
    venv
    ve
    env
    tests
    migrations
